<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="head" style="background-color: antiquewhite;">
        Layout Header
    </div>
    <div id="content" layout:fragment="content">
        <h2 id="2">Layout</h2>
    </div>
    <div id="footer" style="background-color: antiquewhite;">
        Layout Footer
    </div>
</body>
</html>